header > a{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
header > a > img{
    padding: 10px;
}
header > h1{
    width: 880px;
    display: inline-block;
    background-color: #F6F6F6;
    text-align: center;
    padding: 0;
	margin: 0;
}
header{
    border-radius: 10px;
    background-color: #F6F6F6;
	border-radius: 20px;
}
nav {
    width: 160px;
    display: inline-block;
    background-color: #F6F6F6;
    vertical-align: top;
	border-radius: 10px;
}

div.wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
body{
    background-color: #333;
}
footer{
	text-align: center;
	display: block;
	background-color: #F6F6F6;
	width: 1200px;
	border-radius: 10px;
}
article{
	display: inline-block;
}
.none_article{
    display: block;
}
ul > li{ 
    list-style: none;
}
p { 
	margin: 0 auto;
}
/*псевдо-класс*/
topNubex:before{ 
    content:""; border-bottom: 1px solid black; 30px;
}
/*index stranica*/
.div_index1 {
    width: 890px;
    display: inline-block;
    background-color: #F6F6F6;
	margin: 0 auto;
    vertical-align: top;
}
.div_index2{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_index1{
	background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
	padding-left: 10px;
}
/*techhnologies stranica*/
.div_technologies1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_technologies2{
	background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
	padding-left: 10px;
}
.div_technologies3{
	width: 890px;
    display: inline-block;
    background-color: #F6F6F6;
    vertical-align: top;
}
/*html stranica*/
.div_html1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_html2{
    background-color: #C5CEDA;
    margin: 4px;
    border-radius: 20px;
    padding-left: 10px;
}
.div_html3{
	width: 890px;
    display: inline-block;
	margin: 0 auto;
    vertical-align: top;
}
.float_right{
	float: right;
    background-color: #C6C6C6;
	border-radius: 10px;
	display: inline-block;
	width: 320px;
	padding: 4px;
}
/*css stranica*/
.ul_css2{
	background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
	padding-left: 10px;
}
.div_css3{
	width: 890px;
    display: inline-block;
    background-color: #F6F6F6;
	margin: 0 auto;
    vertical-align: top;
}
.div_css1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
/*bootstrap stranica*/
.div_bootstrap1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_bootstrap2{
    background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
	padding-left: 10px;
}
.div_bootstrap3{
    width: 890px;
    display: inline-block;
	margin: 0 auto;
    vertical-align: top;
}
/*calculator stranica*/
.div_calculator1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_calculator2{
	background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
	padding-left: 10px;
}
.div_calculator3{
    width: 890px;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    text-align: center;
}