header > a{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
header > a > img{
    padding: 10px;
}
header > h1{
    width: 880px;
    display: inline-block;
    background-color: #F6F6F6;
    text-align: center;
    padding: 0;
    margin: 0;
}
header{
    border-radius: 10px;
    background-color: #F6F6F6;
	border-radius: 20px;
}
nav {
    width: 160px;
    display: inline-block;
    background-color: #F6F6F6;
    vertical-align: top;
	border-radius: 10px;
}
.div_d1 {
    width: 890px;
    display: inline-block;
    background-color: #F6F6F6;
    text-align: center;
    vertical-align: top;
}
.div_g1{
	background-color: #F6F6F6;
	border-radius: 20px;
}
.ul_gr{
	background-color: #C5CEDA;
	margin: 4px;
	border-radius: 20px;
}
div.wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
body{
    background-color: #333;
}
footer{
	text-align: center;
	display: block;
	background-color: #F6F6F6;
	width: 1200px;
	border-radius: 10px;
}
.div_td_t{
    display: inline-block;
    background-color: #F6F6F6;

}
.div_art_ht{
	width: 890px;
    display: inline-block;

}
.fot_ht{
	border-radius: 10px;
}
.div_css{
    width: 890px;
    display: inline-block;
}
.div_boot{
	width: 890px;
    display: inline-block;
}
.div_test{
	width: 1000px;
    display: inline-block;
    background-color: #F6F6F6;
    vertical-align: top;
	border-style: solid;
	border-radius: 10px;
	
}

